.container
  .row
    .col-lg-8
      - @posts.each do |post|
        = render 'post_card', post: post
    .col-lg-4
      .card
        .card-header Tags
        .card-body
          %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.</p>
